@mixin paddings {
    @media (min-width: 1201px) {
        margin: {
            left: 0px;
            right: 0px;
        }
    }
    @media (max-width: 1200px) and (min-width: 768px) {
        margin: {
            left: 60px;
            right: 60px;
        }
    }
    @media (max-width: 767px) and (min-width: 461px) {
        margin: {
            left: 32px;
            right: 32px;
        }
    }
    @media (max-width: 460px) {
        margin: {
            left: 16px;
            right: 16px;
        }
    }
}
